@media screen and (min-width: 50em) {
    .body {
        width: 60%;
        margin: 5em auto;
        text-align: center;
    }

    .song-content {
        column-count: 2;
        column-gap: 20px;
    }
}

.body {
    font-family: Arial, Helvetica, sans-serif;
}

#lyrics-container {
    text-align: left;
}

h1 a {
    color: unset;
    text-decoration: unset;
}

ul {
    list-style: none;
}

#lyrics-container {
    text-align: initial;
    padding-top: 20px;
}

.comment-line {
    font-size: 1.5em;
    color: rgba(0, 0, 0, 0.7)
}

.chord {
    color: #c5251d;
}

.metadata  {
    display: none;
}

.metadata.title-metadata,
.metadata.subtitle-metadata {
    display: block !important;
}

.lyrics-line {
    padding-top: 1em;
    break-inside: avoid;
}

/* Song versions */
@media screen and (min-width: 50em) {
    .song-sidebar {
        position: absolute;
        right: 10em;
        top: 11em;
    }
}

.versions-list form {
    display: inline;
}


.song-title h1 {
    margin-bottom: 0;
    
}

.song-title h2 {
    margin-top: 0;
    font-weight: normal;
    color: #555;
}

.chords-lyrics-line {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    margin-bottom: 4px;
}

.chord-lyric-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    white-space: nowrap;
}

.chords {
    font-weight: bold;
    font-size: 0.9em;
    color: #c5251d;
    min-height: 1.5em; /* keeps spacing when chord is empty */
}

.lyrics {
    font-size: 1em;
}

/* Hide chords for now */
.chords {
    display: none;
}