@media screen and (min-width: 50em) {
    .body {
        width: 60%;
        margin: 5em auto;
        text-align: center;
    }
}

h1 a {
    color: unset;
    text-decoration: unset;
}

ul {
    list-style: none;
}


/* chords and lyrics */
.chord-sheet {
    text-align: initial;
}

.comment {
    font-size: 1.5em;
    color: rgba(0, 0, 0, 0.7)
}

.column:has(.lyrics:empty) {
    margin-right: 15px;
    min-width: 20px;
    position: relative;
}

.paragraph {
    margin-bottom: 1em;
}

.row {
    display: flex;
    margin-bottom: 0.5em;
}

.chord:after {
    content: '\200b';
}

.lyrics:after {
    content: '\200b';
}


/* Song versions */
@media screen and (min-width: 50em) {
    .song-sidebar {
        position: absolute;
        right: 15%;
        top: 5em;
    }
}

.versions-list form {
    display: inline;
}