@media screen and (min-width: 50em) {
    .body {
        width: 60%;
        margin: 5em auto;
        text-align: center;
    }
}

.body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 a {
    color: unset;
    text-decoration: unset;
}

ul {
    list-style: none;
}

#lyrics-container {
    text-align: initial;
    padding-top: 20px;
}

.comment-line {
    font-size: 1.5em;
    color: rgba(0, 0, 0, 0.7)
}

.chord {
    color: #c5251d;
}

.metadata  {
    display: none;
}

.metadata.title-metadata,
.metadata.subtitle-metadata {
    display: block !important;
}

.song-content {
    column-count: 2;
    column-gap: 20px;
}

.lyrics-line {
    padding-top: 1em;
    break-inside: avoid;
}

/* Song versions */
@media screen and (min-width: 50em) {
    .song-sidebar {
        position: absolute;
        right: 10em;
        top: 11em;
    }
}

.versions-list form {
    display: inline;
}