{% extends "search/layout.html" %}
{% load static %}

{% block body %}
    <h1><a href="{% url 'index' %}">Lovsangsfinderen</a></h1>
    <form id="search-form" action="{% url 'search' %}">
        <input id="search-field" name="q">
        <input type="submit" value="Søg">
    </form>
    <div id="results">
        <ul>
            {% for song in songs %}
                {% if song.is_main %}
                    <li>
                        {% if song.source.name in "WorshipToday lovsang.dk 'Worship Together'" %}
                            <a href="{% url 'song' song_id=song.id %}">{{ song.title }}</a>
                        {% else %}
                            {{ song.title}}
                        {% endif %}
                        (<a href={{ song.url }}>Kilde</a>)
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        {% if songs %}
            <form action="{% url 'update_results' %}">
                <input name="q" value="{{ request.GET.q }}" hidden>
                <input type="submit" value="Opdatér resultater">
            </form>
        {% else %}
            <form action="{% url 'get_all' %}">
                <input type="submit" value="Hent alle sange (langsom)">
            </form>
        {% endif %}
    </div>
    <div id="lyrics"></div>
{% endblock %}

{% block script %}
    <script type="module" src="{% static 'search/chordpro.js' %}"></script>
{% endblock %}